# Exploring Hacker news posts
We analyse a dataset consisting of 20,000 posts on the Hacker News website.  Each post is classified as an *Ask HN* or a *Show HN* post.  Our goal is to find out which post receive more comments on average.

## Importing the data

We first import the data from the file `hacker_news.csv`

In [1]:
from csv import reader

open_file = open('hacker_news.csv')
read_file = reader(open_file)
hn = list(read_file)

We remove the row containing the column titles and keep only the data in the variable `data_list`.

In [2]:
headers = hn[0]
hn = hn[1:]

We display the headers and print the first five rows of the dataset `hacker_news.csv`.

In [3]:
print(headers)
for row in hn[:5]:
    print(row)

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']
['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']
['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']
['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']
['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']

## Sorting the data and calculating the average number of comments

We create three empty lists `ask_posts`, `show_posts`, `other_posts` that will contain the posts starting with *Ask HN*, *Show HN*, and the remaining ones, repectively.

In [4]:
ask_posts, show_posts, other_posts = [], [], []

We now build each of these lists with a for loop.

In [5]:
for row in hn:
    title = row[1]
    if title.lower().startswith('ask hn'):
        ask_posts.append(row)
    elif title.lower().startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)

We calculate the number of posts for each category.

In [6]:
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))

1744
1162
17194

We calculate the average number of comments for both the *Ask HN* and the *Show HN* post.

In [7]:
total_ask_comments = 0
for row in ask_posts:
    total_ask_comments += int(row[4])

total_show_comments = 0
for row in show_posts:
    total_show_comments += int(row[4])

average_ask_comments = total_ask_comments/len(ask_posts)
average_show_comments = total_show_comments/len(show_posts)

print("The average number of comments per Ask HN posts is {:.2f}".format(average_ask_comments))
print("The average number of comments per Show HN posts is {:.2f}".format(average_show_comments))

The average number of comments per Ask HN posts is 14.04
The average number of comments per Show HN posts is 10.32

On average, the *Ask HN* posts received more comments than the *Show HN* posts.

## Finding the average number of comments for the *Ask HN* posts per hour created

We import the datetime module for that purpose, and we collect the needed data for that purpose.

In [8]:
import datetime as dt

result_list = []

for row in ask_posts:
    two_data = [row[6],int(row[4])]
    result_list.append(two_data)

We calculate the number of posts created at a given time as well as the corresponding number of comments

In [9]:
counts_per_hour = {}
comments_per_hour = {}
data_format = "%m/%d/%Y %H:%M"

for data in result_list:
    hour = dt.datetime.strptime(data[0],data_format).strftime("%H")
    if hour in counts_per_hour:
        counts_per_hour[hour] += 1
        comments_per_hour[hour] += data[1]
    else:
        counts_per_hour[hour] = 1
        comments_per_hour[hour] = data[1]
        
print(comments_per_hour)

{'09': 251, '13': 1253, '10': 793, '14': 1416, '16': 1814, '23': 543, '12': 687, '17': 1146, '15': 4477, '21': 1745, '20': 1722, '02': 1381, '18': 1439, '03': 421, '05': 464, '19': 1188, '01': 683, '22': 479, '08': 492, '04': 337, '00': 447, '06': 397, '07': 267, '11': 641}

We calculate the average number of comments per post

In [10]:
avg_per_hour = []

for item in counts_per_hour:
    ave = comments_per_hour[item]/counts_per_hour[item]
    avg_per_hour.append([item,ave])
    
for x in avg_per_hour:
    print(x)

['09', 5.5777777777777775]
['13', 14.741176470588234]
['10', 13.440677966101696]
['14', 13.233644859813085]
['16', 16.796296296296298]
['23', 7.985294117647059]
['12', 9.41095890410959]
['17', 11.46]
['15', 38.5948275862069]
['21', 16.009174311926607]
['20', 21.525]
['02', 23.810344827586206]
['18', 13.20183486238532]
['03', 7.796296296296297]
['05', 10.08695652173913]
['19', 10.8]
['01', 11.383333333333333]
['22', 6.746478873239437]
['08', 10.25]
['04', 7.170212765957447]
['00', 8.127272727272727]
['06', 9.022727272727273]
['07', 7.852941176470588]
['11', 11.051724137931034]

## This is the last part of the project

In [11]:
swap_ave_per_hour = []

for item in avg_per_hour:
    swap_ave_per_hour.append([item[1],item[0]])
    
print(swap_ave_per_hour)

[[5.5777777777777775, '09'], [14.741176470588234, '13'], [13.440677966101696, '10'], [13.233644859813085, '14'], [16.796296296296298, '16'], [7.985294117647059, '23'], [9.41095890410959, '12'], [11.46, '17'], [38.5948275862069, '15'], [16.009174311926607, '21'], [21.525, '20'], [23.810344827586206, '02'], [13.20183486238532, '18'], [7.796296296296297, '03'], [10.08695652173913, '05'], [10.8, '19'], [11.383333333333333, '01'], [6.746478873239437, '22'], [10.25, '08'], [7.170212765957447, '04'], [8.127272727272727, '00'], [9.022727272727273, '06'], [7.852941176470588, '07'], [11.051724137931034, '11']]

In [13]:
sorted_swap = sorted(swap_ave_per_hour,reverse=True)
for item in sorted_swap:
    print(item)

[38.5948275862069, '15']
[23.810344827586206, '02']
[21.525, '20']
[16.796296296296298, '16']
[16.009174311926607, '21']
[14.741176470588234, '13']
[13.440677966101696, '10']
[13.233644859813085, '14']
[13.20183486238532, '18']
[11.46, '17']
[11.383333333333333, '01']
[11.051724137931034, '11']
[10.8, '19']
[10.25, '08']
[10.08695652173913, '05']
[9.41095890410959, '12']
[9.022727272727273, '06']
[8.127272727272727, '00']
[7.985294117647059, '23']
[7.852941176470588, '07']
[7.796296296296297, '03']
[7.170212765957447, '04']
[6.746478873239437, '22']
[5.5777777777777775, '09']

In [15]:
for x in range(5):
    print(sorted_swap[x])

[38.5948275862069, '15']
[23.810344827586206, '02']
[21.525, '20']
[16.796296296296298, '16']
[16.009174311926607, '21']

We print the highest five averages in a nicer format

In [17]:
for item in range(5):
    formatted_hour = dt.datetime.strptime(sorted_swap[item][1],"%H").strftime("%H:%M")
    print("{}: {:.2f} average comments per post".format(formatted_hour,sorted_swap[item][0]))

15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post

According to this data, one should post her *Ask HN* post around 3pm to receive the most number of comments.

Wait a second, can I write some latex code in here such as
$$\int_{x=1}^{2}f(x) \, dx $$

Wow!  This is so awesome.  Let's say with have a $\mathbb{Z}_{\ell}$-tower of graphs

$$X = X_{0} \leftarrow X_{1} \leftarrow X_{2} \leftarrow \ldots \leftarrow X_{n} \leftarrow \ldots  $$

This has really good potential I think for my Math 217 class!!!

Jupyter Lab is supposed to be better a bit than Jypyter Notebook, but I am not quite sure why.  In any case, this feature of combining Latex with codes and plain Markup text is pretty awesome, I think.

$$\sum_{n=1}^{\infty}\left(\frac{1}{2} \right)^{n} $$

I wonder what else can be done with a Jupyter Notebook.